<!DOCTYPE html>
<html>

<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery-2.2.3.min.js" th:src="@{/resources/js/jquery-2.2.3.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="push">
        <div class="container">
            <div class="hero-unit">
                <h1>Test</h1>

                <p>
                    Welcome to the Spring MVC Quickstart application!
                    Get started quickly by signing up.
                    <small><em>(Please use the following credentials to login: <code>admin/admin</code>,
                        <code>user/demo</code>
                        or create a new account.)</em></small>
                </p>
            </div>
        </div>
        <div class="footer" th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </div>
</div>
</body>
</html>